* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    -webkit-font-smoothing: antialiased
}

:root {
    --main-bg: #19A1AE;
    --card-bg: #fff;
}

body {
    background: var(--main-bg);
    

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    width: 100%;
    max-width: 21.875rem;
}

section {
    background: var(--card-bg);
    border-radius: 0.9375rem;
}

.fundo-oval img {
    border-radius: 0.975rem 0.975rem 0 0;
    display: block;
}