* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    -webkit-font-smoothing: antialiased
}

:root {
    --main-bg: #19A1AE;
    --card-bg: #fff;
    --title: #2e3349;
    --text: #6b7082;
    --border: #e8e9ec;

}

body {
    background: var(--main-bg);
    

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    width: 100%;
    max-width: 21.875rem;
}

section {
    background: var(--card-bg);
    border-radius: 0.9375rem;
}

.fundo-oval img {
    border-radius: 0.975rem 0.975rem 0 0;
    display: block;
    width: 100%;
}

.info_top {
    text-align: center;
}

.info_top img {
    margin-top: -3.3125rem;
    margin-bottom: 1.5rem;
    border: 5px solid var(--card-bg);
    border-radius: 50%;
}

.info_top h1 {
font-size: 1.125rem;
color: var(--title);
margin-bottom: 0.8rem;
}

.info_top {
    color: var(--text);
    font-weight: 400;
}

.info_top p {
color: var(--text);
font-size: 0.875rem;
margin-bottom: 1.75rem;
}

hr {
    border: 1px solid var(--border);
}

.info_bottom {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1.5rem;
}

.info_bottom div {
    text-align: center;
}

.info_bottom div {
    font-size: 1.125rem;
    color: var(--title);
}

.info_bottom div p {
    margin-top: 0.5rem;
    font-size: 0.625rem;
    color: var(--text);
    letter-spacing: 0.09375rem;
}